/* Global */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.stats_graphic {
  border: 1px solid black;
}



/* forms page */

.forms-title {
  text-align: center;
}

.hidden {
  display: none !important;
}

.btns-forms {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}